<div class="img">
    <img class="rounded-circle" src="assets/img/fotoCV.jpg" alt="Profile">
</div>


<app-section classTitle="text-light" titleSection="Sobre Mi"></app-section>
<div class="">
    <p class="text-light">
        Tecnólogo en análisis y desarrollo de
        sistemas de información, actualmente
        terminando ingeniería de sistemas con experiencia en el área de soporte,
        dando soporte en sitio y de forma
        remota, manejo de servidores de
        dominio, redes LAN y WAN, sistemas
        operativos Linux y Windows.
    </p>
    <p class="text-light">
        Bases de datos MySql, Oracle, SQL Server.
    </p>
    <p class="text-light">
        Experiencia en el area de desarrollo de software empleando
        lenguajes <strong>PHP</strong>(Laravel, Codeigniter, MVC), <strong>JavaScript</strong>(Ajax, Jquery, Angular), Java, 
        <strong>C#</strong> y manejo de controlador de versiones <strong>GIT - GitHub</strong>.
    </p>
    <p class="text-light">
        Siempre dispuesto a aprender nuevas
        tecnologías, cumplir con las distintas
        obligaciones y normas laborales que
        se tengan establecidas, alta
        responsabilidad y trabajo en equipo.
    </p>
</div>

    
