<app-section classTitle="text-light" titleSection="Habilidades"></app-section>

<app-loading-bar [skill]="'PHP'" [level]="85" [imageUrl]="'assets/img/icons/skills/php.png'"></app-loading-bar>
<app-loading-bar [skill]="'JAVASCRIPT'" [level]="65" [imageUrl]="'assets/img/icons/skills/js.png'"></app-loading-bar>
<app-loading-bar [skill]="'JAVA'" [level]="55" [imageUrl]="'assets/img/icons/skills/java.png'"></app-loading-bar>
<app-loading-bar [skill]="'PYTHON'" [level]="30" [imageUrl]="'assets/img/icons/skills/python.png'"></app-loading-bar>
<app-loading-bar [skill]="'C#'" [level]="40" [imageUrl]="'assets/img/icons/skills/c.png'"></app-loading-bar>
<app-loading-bar [skill]="'SQL'" [level]="80" [imageUrl]="'assets/img/icons/skills/sql.png'"></app-loading-bar>
<app-loading-bar [skill]="'HTML'" [level]="90" [imageUrl]="'assets/img/icons/skills/html.png'"></app-loading-bar>
<app-loading-bar [skill]="'CSS'" [level]="70" [imageUrl]="'assets/img/icons/skills/css.png'"></app-loading-bar>
<app-loading-bar [skill]="'GIT'" [level]="60" [imageUrl]="'assets/img/icons/skills/git.png'"></app-loading-bar>
            
        
