
<app-section classTitle="text-light" titleSection="Contacto"></app-section>

<ul class="list-group text-light">
    <li class=""><a  ><span><img src="assets/img/icons/phone.png" alt=""></span> 3243778992</a></li>
    <li class=""><a ><span><img src="assets/img/icons/location.png" alt=""></span> Cali - Valle del cauca</a></li>
    <li class=""><a ><span><img src="assets/img/icons/email.png" alt=""></span> marcko236@gmail.com</a></li>
    <li class=""><a href="https://www.linkedin.com/in/marco-a-marin-f" target="_blank"><span><img src="assets/img/icons/linkedin.png" alt=""></span> in/MarcoA-Marin-F</a></li>
    <li class=""><a href="https://github.com/MarckoM236" target="_blank"><span><img src="assets/img/icons/git.png" alt=""></span> MarckoM236</a></li>
</ul>
