html, body {
    height: 100%;
}

#sidebar {
    height: auto;
    min-height: 100vh;
    min-width: 300px;
}

body {
    font-family: Helvetica, Verdana;
    background-image: url('assets/img/fondo.jpg');
    }
    
p {
font-family: Cambria, 'Times New Roman', Times, serif;
}


     
